{
  "singleQuote": true,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "printWidth": 120,
  "semi": true,
  "trailingComma": "all",
  "importOrder": [
    "^react$",
    "<THIRD_PARTY_MODULES>",
    "^@/pages/(.*)$'",
    "^@/widgets/(.*)$",
    "^@/features/(.*)$",
    "^@/entities/(.*)$",
    "^@/shared/(.*)$'",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
